body{
    font-family: 'Courier New', Courier, monospace;
}
#root{
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/* .board-row{
    display: flex;
} */
#calculator{
  width: 300px;  
}
form{
    width: 100%
}
#current-operation{
    min-height: 53px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
#inputbar{
    display: flex;
    justify-content: space-between;
}
#textinput{
    flex-grow: 2;
    padding: .8rem .5rem;
    text-align: right;
}
#numbers{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
} 
.number, .operations button, #submit{
    padding: .8rem 1rem;
}
.number{
    flex-grow: 2;
}
#canc{
    padding: .8rem .95rem;
    grid-column-start: 1;
    grid-column-end: 3;
}
.operations{
    display: flex;
    flex-direction: column;
}